
* {
    margin: 0;
}

body {
    background-color: #99bbd2;
}

header {
    position: fixed;
    width: 95%;
    height: 50px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 1;
}

.logo {
    display: inline-block;

    img {
        width: 50px;
    }
}

.nombre {
    display: inline-block;

    a {
        text-decoration: none;
        color: white;
    }
}

.logout {
    display: inline-block;

    a {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 15px;
        background-color: black;
        color: white;
        padding: 10px;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containerMapa {
    display: flex;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    z-index: 0;
}

#mapa {
    width: 70%;
    height: 500px;
}

.opciones {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 15px;

    img {
        width: 40px;
        margin: 0 10px;
        cursor: grab;
    }
}

#carousel {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    border-radius: 7px;
    width: 250px;
    margin: 0 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: cornflowerblue;

    .cardTitle {
        text-align: center;
        margin-bottom: 10px;

        h1 {
            text-transform: uppercase;
            margin: 0;
        }
    }

    .informacion {
        display: flex;
        flex-direction: column;
        align-items: center;

        .temperatura,
        .humedad,
        .precipitacion,
        .viento {
            flex: 1;
            text-align: center;
            img {
                width: 30px;
                display: inline-block;
                cursor: grab;
            }

            p {
                display: inline-block;
                margin: 0;
            }
        }
    }

    button {
        align-self: center;
        background-color: #04AA6D;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    button:hover {
        background-color: #45a049;
    }
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}