* {
    box-sizing: border-box;
    margin: 0;
}

/* COLORES:
    - Negro: #222222
    - Blanco Fondo: #FFF0F0
    - Morado: #5E17EB
    - Naranja: #FF9100
    - Verde: #008D70 
*/

/*TIPOGRAFIAS*/
@font-face {
    font-family: Soliden;
    src: url(../tipografias/soliden/SolidenTrial-BoldExpanded.ttf);
}

@font-face {
    font-family: Montserrat Medium;
    src: url(../tipografias/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat Light;
    src: url(../tipografias/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: Genty;
    src: url(../tipografias/genty/GentyDemo-Regular.ttf);
}


/*TEXTOS*/
h1 {
    font-family: Soliden;
    font-size: 35px;
}

h2 {}

h3 {
    font-family: Genty;
    font-size: 50px;
    color: #5E17EB;
}

p {
    font-family: Montserrat Medium;
    font-size: 16px;
}


/*BODY*/
body {
    background-color: #fffaf0;
    color: #222222;
    font-family: Montserrat Medium;
    font-size: 16px;
}


/*NAV*/
nav {
    width: 100%;
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div:nth-of-type(2) img {
    width: 180px;
}

nav div:nth-of-type(3) ul,
nav div:nth-of-type(1) ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

nav div ul li:first-of-type:hover, li:nth-of-type(2):hover{
    text-decoration: underline;
    
}

.nav-icon {
    border-radius: 100%;
    padding: 7px;
}

.nav-icon:hover {
    background-color: #5E17EB;
}


/*DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 10px;
    top: 140%;
    left: 60%;
    transform: translateX(-50%);
    border: 3px solid #5E17EB;
    border-radius: 15px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Montserrat Medium;
    font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Add a caret */
.dropdown .caret {
    position: absolute;
    top: -5px;
    left: calc(50% - 5px);
    background-color: #5E17EB;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}


/*HEADER*/
header {
    height: 55vh;
    background-color: rgb(209, 209, 209);
}

/*PRODUCTOS DESTACADOS*/
#seccion_productos_destacados {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#seccion_productos_destacados div {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

#seccion_productos_destacados article:first-of-type {
    width: 30%;
}

#seccion_productos_destacados article:nth-of-type(2) {
    width: 40%;
}

#seccion_productos_destacados article:nth-of-type(3) {
    width: 30%;
}

#lista_articulos {
    padding: 0 !important;
}

#articulo {
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 17px;
    margin-bottom: 20px;
}

#articulo p {
    margin-left: 15px;
}

/*FOOTER*/
footer {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    padding: 100px 150px 100px 150px;
    background-color: #222222;
    color: white;
    font-size: 14px;
    font-family: Montserrat Light;
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
}

.footer1 li h4 {
    font-family: Soliden;
    font-size: 20px;
    margin-bottom: 30px;
}

.footer1 li ul {
    padding: 0;
    margin: 0;
}

.footer1 li ul li {
    margin-top: 20px;
}

.footer1 li ul li:hover{
    text-decoration: underline;
}

.footer2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.footer2 li:hover{
    text-decoration: underline;
}

.creditos {
    text-align: center;
    margin-top: 60px;
}
