* {
    box-sizing: border-box;
    margin: 0;
}

/* COLORES:
    - Negro: #222222
    - Blanco Fondo: #FFF0F0
    - Morado: #5E17EB
    - Naranja: #FF9100
    - Verde: #008D70 
*/

/*TIPOGRAFIAS*/
@font-face {
    font-family: Soliden;
    src: url(../tipografias/soliden/SolidenTrial-BoldExpanded.ttf);
}

@font-face {
    font-family: Montserrat Medium;
    src: url(../tipografias/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat Light;
    src: url(../tipografias/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat Bold;
    src: url(../tipografias/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Genty;
    src: url(../tipografias/genty/GentyDemo-Regular.ttf);
}

@font-face {
    font-family: Shrikhand;
    src: url(../tipografias/Shrikhand/Shrikhand-Regular.ttf);
}


/*TEXTOS*/
h1 {
    font-family: Soliden;
    font-size: 35px;
}

h2 {}

h3 {
    font-family: Genty;
    font-size: 50px;
    color: #5E17EB;
}

h4 {
    /* font-family: Montserrat Medium; */
    font-family: Montserrat Bold;
    font-size: 20px;
}

p {
    font-family: Montserrat Medium;
    font-size: 16px;
}

/*SEPARADOR*/
.separador_morado {
    width: 100%;
    height: 250px;
    background-image: url(../imagenes/separador-naranja.jpg);
    /* background-image: url(../imagenes/separador_morado2.jpg); */
    /* border-top: 1px solid #FF9100; */
}


/*BODY*/
body {
    background-color: #fffaf0;
    color: #222222;
    font-family: Montserrat Medium;
    font-size: 16px;
}


/*BARRA SUPERIOR*/
.barra_superior {
    width: 100%;
    background-color: rgb(255, 243, 226);
    font-size: 14px;
    font-family: Montserrat Medium;
    color: #FF9100;
    padding: 5px;
}

.barra_superior ul {
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.descuentos {
    display: inline-block;
    margin: 0 0.5rem;
    animation: animate__headShake 2s ease-in-out infinite;
}

.descuentos span {
    font-family: Montserrat Bold;
}

.descuentos span:hover {
    text-decoration: underline;
}



/*NAV*/
nav {
    width: 100%;
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FF9100;
    padding-left: 140px;
    padding-right: 135px;
}

nav div:nth-of-type(1) img {
    width: 220px;
}

/* nav div:nth-of-type(2) {
    width: 500px;
} */

/* nav div:nth-of-type(3) ul,
nav div:nth-of-type(1) ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
} */

.nav_primera_parte {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.nav_primera_parte a {
    margin-right: 40px;
}

.nav_primera_parte div ul {
    display: flex;
    justify-content: flex-start;
}

.nav_primera_parte div ul li {
    margin-right: 40px;
    font-family: Montserrat Bold;
    color: #FF9100;
    background-image: url();
}

.nav_primera_parte div ul li:hover {
    text-shadow: 0 0 20px #ffb937;
}

/* nav div ul li:first-of-type:hover, nav div ul li:nth-of-type(2):hover{
    text-decoration: underline;
} */

.nav_segunda_parte ul {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.nav-icon {
    border-radius: 100%;
    padding: 7px;
    color: #5E17EB;
}

.nav-icon:hover {
    /* background-color: #ffb937; */
    /* box-shadow: 0 0 20px #ffb937; */
    background: -gradient(#ffb937a1, #ffb93700);
}


/*DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffaf0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    top: 120%;
    left: 60%;
    transform: translateX(-50%);
    border: 1px solid #5E17EB;
    box-shadow: 0 0 10px #9b6aff;
    border-radius: 15px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: #FF9100;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Montserrat Medium;
    font-size: 16px;
}

.dropdown-content a {
    text-shadow: none !important;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    /* background-color: #8b5e5e; */
    /* border-radius: 10px; */
    text-shadow: 0 0 30px #ffa600 !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Add a caret */
.dropdown .caret {
    position: absolute;
    top: -5px;
    left: calc(50% - 5px);
    background-color: #5E17EB;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}


/*HEADER*/
header {
    height: 60vh;
    background-color: rgb(209, 209, 209);
    background-image: url(../imagenes/fondo-header2.jpg);
    background-size: cover;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
}

header div {
    width: 60%;
}

header div h1 {
    font-size: 5em;
}

/*HEADER CARDS*/
#seccion_cards_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: #9b6aff; */
    background-color: #5E17EB;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
}

.card_header {
    width: 400px;
    background-color: #FFF0F0;
    padding: 30px;
    /* border-radius: 10px; */
    margin-top: -40px;
    box-shadow: 0 0 30px #5E17EB;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card_header:hover {
    margin-top: -70px;
    box-shadow: 0 0 30px #FF9100;
}


.card_header article div {
    display: flex;
    align-items: center;
}

.card_header article div span {
    /* width: 20%; */
    font-size: 35px;
    margin-right: 10px;
    color: #FF9100;
}

.card_header article p {
    margin-top: 15px;
}

.titulo_card {
    color: #5E17EB;
}

/*SECCION CATEGORIAS*/
#seccion_categorias {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #5E17EB;
    padding-top: 50px;
    padding-bottom: 150px;
}

.categorias {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#seccion_categorias div div {
    width: 140px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 60px;
    transition: 0.3s;
    /* background: radial-gradient(#FF9100, #9b6aff, #9c6aff00); */
    /* background: radial-gradient(#ff910097, #ff910036, #ff910000, #ff910000); */
    /* background: radial-gradient(#9b6aff, #9c6aff00, #9c6aff00); */
    /* padding: 20px; */
}

#seccion_categorias div div:hover {
    /* background: radial-gradient(#9b6aff, #9c6aff8e, #ff910000, #ff910000); */
    transform: scale(1.2);
}

#seccion_categorias div img {
    filter: invert(100%);
    width: 90%;
}

#seccion_categorias div p {
    margin-top: -20px;
    /* font-family: Shrikhand; */
    font-family: Soliden;
    font-size: 18px;
}

/* .card_categoria:hover{
    background-color: #9b6aff;
} */


/*PRODUCTOS DESTACADOS*/
#seccion_productos_destacados {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#productosContainer{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}

/* #productosContainer div{
    width: 250px !important;
} */


/*CARDS*/
.card {
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    padding: 10px;
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    margin: 20px;
    box-sizing: border-box;
    float: left;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 0 20px #2222224f;
    /* box-shadow: inset 2px 0px 9px 12px rgb(105, 0, 0); */
}

.card:hover {
    /* box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3); */
    /* box-shadow: inset 2px 0px 9px 12px rgba(255, 255, 255, 1); */
    transform: scale(1.02);
}

.producto-imagen {
    /* display: block; */
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* border-radius: 5px; */
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    bottom: 30%;
    left: 10;
    white-space: nowrap;
}

/* .card:hover .titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    bottom: 30%;
    left: 0;
    animation: moverTexto 10s linear infinite alternate;
    white-space: nowrap;
} */

@keyframes moverTexto {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* .precio {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    position: absolute;
    bottom: 10%;
    left: 10px;
}

.categoria {
    font-style: italic;
    color: #008D70;
    margin-bottom: 5px;
    position: absolute;
    bottom: 26%;
    left: 10px;
}

.valoracion {
    position: absolute;
    bottom: 18%;
    left: 50%;
} */

/*BOTON*/
.pedir {
    width: 75%;
    /* float: left; */
    border: 0;
    padding: 15px;
    background-color: #5E17EB;
    color: white;
    font-family: Montserrat Medium;
    cursor: pointer;
    /* margin-top: 100px; */
}

.pedir:hover {
    background-color: #7a37ff;
    transition: ease-in-out 0.2s;
}

.producto-imagen{
    /* position: relative; */
}

.favorito {
    /* float: right; */
    width: 25%;
    /* width: 60px; */
    height: 100%;
    border: 0;
    /* padding: 0 !important; */
    margin: 0 !important;
    /* padding: 15px; */
    background-color: white;
    color: white;
    font-family: Montserrat Medium;
    cursor: pointer;
    margin-top: 100px;
    /* position: absolute; */
    z-index: 5;
}

.favorito span{
    /* height: 100% !important; */
}

.categoria{
    background-color: #008D70;
    border-radius: 100px;
    padding: 7px 10px 7px 10px;
    width: fit-content !important;
    color: white;
    margin-bottom: 20px;
    font-family: Montserrat Light;
    font-size: 12px;
    cursor: pointer;
}


/*FOOTER*/
footer {
    width: 100% !important;
    padding-top: 100px;
    border-top: 1px solid #FF9100;
    color: #222222;
    font-size: 14px;
    font-family: Montserrat Bold;
    color: #FF9100;
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 150px;
}

.footer1 li h4 {
    font-family: Soliden;
    font-size: 20px;
    margin-bottom: 30px;
    color: #5E17EB;
}

.footer1 li ul {
    padding: 0;
    margin: 0;
}

.footer1 li ul li {
    margin-top: 20px;
}

.footer1 li ul li:hover {
    text-decoration: underline;
}

footer div {
    background-color: rgb(255, 243, 226);
    padding-bottom: 50px;

}

.footer2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.footer2 li:hover {
    text-decoration: underline;
}

.creditos {
    text-align: center;
    margin-top: 60px;
}