#seccion_productos{
    /* height: 100vh; */
}

#categorias_article {
    width: 25%;
    padding: 20px;
    padding-left: 150px;
    background-color: rgb(255, 243, 226);
    padding-bottom: 200px;
    /* position: fixed; */
}

#categorias_article h4 {
    color: #5E17EB;
    margin-top: 50px;
    margin-bottom: 15px;
}

#categorias_article ul:first-of-type {
    padding: 0;
}

#categorias_article ul:first-of-type li {
    color: #FF9100;
    font-family: Montserrat Medium;
    margin-bottom: 10px;
}

#categorias_article ul:first-of-type li:hover {
    font-family: Montserrat Bold;

}


/*CIRCULOS*/
.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

/* Cambia los colores como desees */
.circulo:nth-child(1) {
    background-color: #ff0000;
}

/* Rojo */
.circulo:nth-child(2) {
    background-color: #00ff00;
}

/* Verde */
.circulo:nth-child(3) {
    background-color: #0000ff;
}

/* Azul */
.circulo:nth-child(4) {
    background-color: #ffff00;
}

/* Amarillo */
.circulo:nth-child(5) {
    background-color: #ff00ff;
}

/* Magenta */
.circulo:nth-child(6) {
    background-color: #00ffff;
}






/* Estilos básicos para la barra de rango */
.range-slider {
    /* padding: 0 !important; */
    margin: 0 !important;
    width: 300px;
    margin: 20px;
    position: relative;
}

.range-slider input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    margin: 10px 0;
    position: absolute;
    z-index: 1;
}

.range-slider input[type="range"]:focus {
    outline: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #FF9100;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 999 !important;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #008D70;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.range-slider output {
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    text-align: center;
}

/*BOTON*/
input#submit {
    width: 100%;
    border: 0;
    padding: 15px;
    background-color: #5E17EB;
    color: white;
    font-family: Montserrat Medium;
    cursor: pointer;
    margin-top: 100px;
}

input#submit:hover {
    background-color: #7a37ff;
    transition: ease-in-out 0.2s;
}